.container {
  background-image: linear-gradient(
    to bottom,
    rgba(246, 248, 250, 0.8),
    rgba(246, 248, 250, 0.7)
  );
  padding: 80px 150px;
  text-align: center;
  color: black;
  min-height: 70vh;
}

@media (max-width: 768px) {
  .container {
    padding: 40px;
  }
}

.viewerWrapper {
  display: flex;
}

@media (max-width: 768px) {
  .viewerWrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
}

.viewerInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 50px;
  border-right: 2px solid rgba(27, 34, 64, 0.425);
  flex: 1;
}

@media (max-width: 768px) {
  .viewerInfo {
    padding-right: 0;
    border-right: none;
    padding-bottom: 50px;
    border-bottom: 2px solid #1b2240;
  }
}

.viewerInfo .imageWrapper {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 5px solid #1b2240;
  border-radius: 100%;
}

.viewerInfo h2 {
  font-size: 2rem;
}

.viewerInfo h4 {
  color: #1b2240;
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}

.viewerInfo > p {
  font-weight: bold;
  margin: 0.2em 0;
  color: #2b7489;
  display: flex;
  align-items: center;
  gap: 0.4em;
  text-align: left;
}

.infoCounts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 0.5em;
}

.infoCounts p {
  background-color: rgba(88, 96, 105, 0.267);
  padding: 0.5em;
  width: 100%;
  margin: 0.4em 0;
  text-transform: uppercase;
  text-align: left;
  border-radius: 4px;
  color: #586069;
  font-weight: bold;
}

.viewerRepos {
  padding-left: 40px;
  text-align: left;
  flex: 4;
}

@media (max-width: 768px) {
  .viewerRepos {
    padding-left: 0;
    margin-top: 30px;
  }
}

.viewerRepos h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  color: #24292e;
}

@media (max-width: 768px) {
  .viewerRepos h3 {
    text-align: center;
  }
}

.viewerRepos .reposWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2em;
}

.singleRepo {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #586069;
  gap: 0.4em;
  transition: all 0.25s ease;
}

.singleRepo:hover {
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.2);
}

.singleRepo h4 {
  font-size: 1.1rem;
  color: #24292e;
  margin-bottom: 1em;
  transition: all 0.25s ease;
}

.singleRepo:hover h4 {
  text-decoration: underline;
}

.singleRepo p {
  min-height: 10px;
  margin: 0.5em 0;
  font-size: 0.95rem;
}

.singleRepo span {
  font-weight: bold;
}
