.container {
  color: #fff;
  min-height: 100vh;
}

.hero {
  padding: 40px 80px;
  height: 300px;
  background-image: url("./assets/github-bg3.png"),
    linear-gradient(to left, rgb(26, 30, 34, 0.6), rgb(26, 30, 34));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero {
    height: 200px;
    padding: 40px;
    background-image: linear-gradient(
      to bottom,
      rgb(26, 30, 34, 0.6),
      rgb(26, 30, 34, 0.9)
    );
  }
}

.hero h1 {
  font-size: clamp(40px, 8vw, 85px);
  color: #9cdaf0;
}

.hero h1 > span {
  color: #f6f8fa;
}

.hero img {
  width: 300px;
}

.hero p {
  font-size: clamp(14px, 8vw, 20px);
}
